<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vip模型用户注册页面</title>
</head>
<body>
    <h2>用户注册页面</h2>
    <div>
        <form action="{{url_for('first.register')}}" method="post">
            用户名:<input type="text" name="username"><br>
            密码:<input type="text" name="pwd"><br>
            <input type="submit" value="注册">
        </form>
    </div>
</body>
</html>